.card {
    height: 300px;
    width: 300px;
    background-color: rgb(249, 213, 213);
    border-radius: 13px;
    margin: 30px;
    overflow-y: scroll;
    flex-wrap: wrap;
    /* word-wrap: break-word; */
    box-shadow: 2px 2px 10px 2px rgb(2, 2, 47);
}

.card::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.card::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}